.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: var(--button-background);
  color: var(--button-text-color);
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: var(--button-hover-background);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-border-color);
  }

  &.google-sign-in {
    background-color: var(--google-button-background);
    color: white;

    &:hover {
      background-color: var(--google-button-hover-background);
      border: none;
    }
  }
  &.inverted {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);

    &:hover {
      background-color: var(--text-color);
      color: var(--background-color);
      border: none;
    }
  }
}