.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;

  .title {
    font-size: 38px;
    margin-bottom: 30px;
  }

  .contact-details {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;

    .info-group {
      margin: 30px 0;
      
      h3 {
        margin-bottom: 10px;
        color: var(--text-color);
      }
      
      p {
        margin: 0;
        color: var(--sub-text-color);
      }
    }
  }
}
