.payment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;

  .title {
    font-size: 38px;
    margin-bottom: 30px;
  }

    .payment-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;
        border: 1px solid black;
        padding: 50px;
        
        .total {
            margin: 20px 0;
            font-size: 24px;
        }
    }
}
