.orders-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;

  .title {
    font-size: 38px;
    margin-bottom: 30px;
  }

  .orders-list {
    width: 60%;
    
    .order-item {
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 5px;

      h3 {
        margin-top: 0;
      }
      
      .items {
        color: #666;
        font-style: italic;
      }
    }
  }
}
